<div class="logo">
	<h1>Time Tracker</h1>
</div>

<% if current_user %>
	<ul class="custom-nav nav nav-tabs">
		<li class="nav-item nav-link <%= active?(root_path) %>">
			<%= link_to "Home", root_path %>
		</li>
		<li class="nav-item nav-link <%= active?(posts_path) %>">
			<%= link_to "Time Entries", posts_path %>
		</li>
		<li>
			<%= render 'shared/audit_log_tab' if policy(AuditLog).index? %>	
		</li>
		<li class="nav-item nav-link <%= active?(new_post_path) %>">
			<%= link_to "Request Overtime", new_post_path, id: 'new_post_from_nav' %>
		</li>
		<li class="nav-item dropdown ml-md-auto" style="float: right;">
			 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Options</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

			 	<% if current_user.try(:type) == 'AdminUser' %>	 
					<div class="dropdown-item">
					 	<%= link_to "Admin Dashboard", admin_root_path %>
					</div>	
					<div class="dropdown-divider">
					</div>
				<% end %>

				<div class="dropdown-item">
					<%= link_to "Logout", destroy_user_session_path, method: :delete %>
				</div>	
			</div>
		</li>
	</ul>
<% end %>